<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="styles.css" />
    <title>Login</title>
  </head>
  <body>
    <form method="POST" action="/login">
      <h1>Login</h1>

      <legend><span class="number">1</span> Your basic info</legend>

      <label for="mail">Email:</label>
      <input type="email" id="mail" name="email" value="<%= locals.email %>" />

      <label for="password">Password:</label>
      <input type="password" id="password" name="password" />

      <p class="errors"><%= locals.message %></p>

      <button type="submit">Log In</button>
    </form>
  </body>
</html>
